body{
	background-image: url("bitmap.png");
	background-size: 400px 100px;
	background-repeat: repeat-y repeat-x;

	background-color: #CCCCDD;
}

input{
	width: 10%;
}

#container{
	background-color: white;
	margin: 0 auto;
}

#queryInput{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#query{
	text-align: center;
}

#movieContainer{
	display: inline-block;
	margin: 0 auto;
}

.movie{
	display: inline-block;
	margin: 0 auto;
	align-items:   center;
}

#addMovie{
	display: inline-block;
	margin: 0 auto;
	border-color: #009F00;
}