body{
	background-color: #CCCCDD;
}

#container{
	background-color: white;
	margin: 0 auto;
}

#queryInput{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#query{
	text-align: center;
}

#movieContainer{
	display: inline-block;
	margin: 0 auto;
}

.movie{
	display: inline-block;
	margin: 0 auto;
}

#addMovie{
	display: inline-block;
	margin: 0 auto;
}